@model ProductSearchInput
@{
    ViewBag.Title = "Lập đơn hàng";
}

<div class="card card-primary card-outline">
    <div class="card-body">
        <div class="row">
            <!-- Tìm kiếm, hiển thị và chọn hàng đưa vào giỏ -->
            <div class="col-md-4">
                <!-- Form tìm kiếm mặt hàng -->
                <h4>Lựa chọn hàng cần bán</h4>
                <form id="frmSearchInput" action="~/Order/SearchProduct" method="get">
                    <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />

                    <div class="input-group">
                        <input type="search"
                               name="@nameof(Model.SearchValue)"
                               value="@Model.SearchValue"
                               class="form-control"
                               placeholder="Nhập tên mặt hàng cần tìm">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-info">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <div id="searchResult"></div>
            </div>

            <!-- Thông tin giỏ hàng, khách hàng -->
            <div class="col-md-8">
                <!-- Giỏ hàng -->
                <h4 class="mb-3">Danh sách mặt hàng đã chọn</h4>
                <div id="shoppingCart" class="table-responsive"></div>

                <!-- Nhập khách hàng, nhân viên phụ trách và khởi tạo đơn hàng -->
                <form id="frmOrderInit" action="~/Order/Init" method="post">
                    <h4 class="mb-4">Thông tin về khách hàng và địa chỉ giao hàng</h4>
                    <div class="form-group row">
                        <label class="col-label-form col-sm-2 text-right">Khách hàng:</label>
                        <div class="col-sm-10">
                            <select class="custom-select select2" name="customerID">
                                <option value="0">----- Chọn khách hàng -----</option>
                                @foreach (var item in CommonDataService.ListOfCustomers())
                                {
                                    <option value="@item.CustomerID">@item.CustomerName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-label-form col-sm-2 text-right">Tỉnh/thành:</label>
                        <div class="col-sm-10">
                            <select class="custom-select select2" name="deliveryProvince">
                                <option value="">----- Chọn Tỉnh/thành -----</option>
                                @foreach (var item in CommonDataService.ListOfProvinces())
                                {
                                    <option value="@item.ProvinceName">@item.ProvinceName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-label-form col-sm-2 text-right">Địa chỉ nhận hàng:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="deliveryAddress" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="offset-lg-2 col-sm-10">
                            <span id="error-message" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa fa-plus-circle"></i>
                                <span>Lập đơn hàng</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            doSearch(@Model.Page);
            showShoppingCart();

            $("#frmSearchInput").submit((ev) => {
                ev.preventDefault();
                doSearch(1);
            });

            $("#frmOrderInit").submit(function(ev) {
                ev.preventDefault();

                $.ajax({
                    url: $(this).prop("action"),
                    type: $(this).prop("method"),
                    data: $(this).serializeArray(),
                })
                    .done(
                        result => isNaN(result) ?
                            $("#error-message").html(result) :
                            window.location.href = `Details/${result}`
                    );
            });
        });

        function showShoppingCart() {
            $.ajax({
                url: "ShoppingCart",
                type: "GET",
            })
                .done(data => $('#shoppingCart').html(data));
        }
    </script>
}