@model OrderSearchInput
@{
    ViewBag.Title = "Quản lý đơn hàng";
}
<div class="card card-primary card-outline">
    <div class="card-body">
        <!--Form đầu vào tìm kiếm-->
        <form action="~/Order/Search" method="get" id="frmSearchInput">
            <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />

            <div class="row">
                <div class="col-sm-3">
                    <select class="form-control" name="@nameof(Model.Status)">
                        <option value="0">-- Trạng thái --</option>
                        @foreach (var status in OrderDataService.SelectStatus())
                        {
                            if (status.Key == Model.Status)
                            {
                                <option value="@status.Key" selected>@status.Value</option>
                            }
                            else
                            {
                                <option value="@status.Key">@status.Value</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="text"
                           name="@nameof(Model.TimeRange)"
                           value="@Model.TimeRange"
                           id="orderTime"
                           placeholder="Chọn khoảng thời gian"
                           class="form-control daterange-picker"
                           autocomplete="off" />
                </div>
                <div class="col-sm-6 input-group">
                    <input type="search"
                           name="@nameof(Model.SearchValue)"
                           value="@Model.SearchValue"
                           class="form-control"
                           placeholder="Tìm kiếm theo tên khách hàng hoặc tên người giao hàng">
                    <div class="input-group-append">
                        <button type="submit" id="search-btn" class="btn btn-info">
                            <i class="fa fa-search"></i>
                            <span>Tìm kiếm</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div id="searchResult"></div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            doSearch(@Model.Page);
            $("#frmSearchInput").submit((ev) => {
                ev.preventDefault();
                doSearch(1);
            });
        });
    </script>
}