@model IEnumerable<CartItem>
@{
    Layout = null;

    int stt = 0;
    decimal sumOfPrice = 0;
}
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="bg-primary">
            <th class="text-center">STT</th>
            <th class="text-center">Tên hàng</th>
            <th class="text-center">ĐVT</th>
            <th class="text-center">Số lượng</th>
            <th class="text-center">Giá</th>
            <th class="text-center">Thành tiền</th>
            <th style="width:40px"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                sumOfPrice += item.TotalPrice;
                <tr>
                    <td class="text-center">@(++stt)</td>
                    <td>@item.ProductName</td>
                    <td class="text-center">@item.Unit</td>
                    <td class="text-center">@item.Quantity</td>
                    <td class="text-right">@item.SalePrice.ToString("N0")</td>
                    <td class="text-right">@item.TotalPrice.ToString("N0")</td>
                    <td class="text-right">
                        <a href="~/Order/RemoveFromCart/@item.ProductID"
                           data-message-confirm="Xóa mặt hàng @item.ProductName ra khỏi giỏ hàng ?"
                           class="btn btn-xs btn-danger ajax-link">
                            <i class="fa fa-minus"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center" colspan="7">Giỏ hàng trống</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5" class="text-right">Tổng cộng:</th>
            <th class="text-right">@sumOfPrice.ToString("N0")</th>
            <th></th>
        </tr>
    </tfoot>
</table>
<div class="text-right">
    <a href="~/Order/ClearCart"
       data-message-confirm="Có muốn xóa giỏ hàng không?"
       class="btn btn-sm btn-danger ajax-link">
        <i class="fa fa-trash"></i>
        <span>Xóa giỏ hàng</span>
    </a>
</div>

<script>
    $(function () {
        $(".ajax-link").click(function (ev) {
            ev.preventDefault();

            const messageConfirm = $(this).data("message-confirm");

            if (messageConfirm && !confirm(messageConfirm)) {
                return;
            }

            $.ajax({
                url: $(this).prop("href"),
                type: "GET",
            })
                .done((data) => data ? alert(data) : showShoppingCart());
        });
    });
</script>
